* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0deg, 100%, 74%);
  background-image: url("../images/bg-intro-mobile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: grid;
  place-content: center;
}
@media screen and (min-width: 1024px) {
  body {
    background-image: url("../images/bg-intro-desktop.png");
  }
}

.container {
  width: 100%;
  min-height: 100vh;
  padding-inline: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  place-content: center;
  gap: 2rem 4rem;
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
}
@media screen and (min-width: 568px) {
  .container {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .container {
    max-width: 1000px;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0 4rem;
  }
}
@media screen and (min-width: 1024px) and (orientation: portrait) {
  .container {
    max-width: 600px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1100px;
    margin-top: 0;
    margin-bottom: 0;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 0 4rem;
  }
}

.intro {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 1024px) {
  .intro {
    gap: 3rem;
    place-content: center;
  }
}
.intro__title,
.intro__text {
  text-align: center;
  color: white;
}
.intro__title {
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1px;
}
@media screen and (min-width: 1024px) {
  .intro__title {
    font-size: 3.125rem;
    line-height: 56px;
    text-align: left;
  }
}
.intro__text {
  font-weight: 500;
  line-height: 26px;
}
@media screen and (min-width: 1024px) {
  .intro__text {
    gap: 2rem;
    text-align: left;
  }
}

.cta {
  display: grid;
  gap: 1.5rem;
}
.cta__promo {
  background-color: hsl(248deg, 32%, 49%);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 0.9375rem;
  line-height: 26px;
  letter-spacing: 0.27px;
  text-align: center;
  color: white;
}
.cta__promo--bold {
  font-weight: 500;
}
.cta__form {
  background-color: white;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid hsl(246deg, 25%, 77%);
  font-size: 0.9375rem;
  font-weight: 600;
  color: hsl(249deg, 10%, 26%);
  line-height: 26px;
  letter-spacing: 0.25px;
}

.error {
  display: none;
  font-size: 0.6875rem;
  font-weight: 500;
  color: hsl(0deg, 100%, 74%);
  text-align: right;
  position: relative;
}

.active {
  display: block;
}

/* Select input element which preceeds the .active class */
input:has(+ .active) {
  border: 1px solid hsl(0deg, 100%, 74%);
}

.active::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-error.svg");
  background-size: cover;
  background-repeat: no-repeat;
  top: -58px;
  right: 16px;
}

button {
  background-color: hsl(154deg, 59%, 51%);
  color: white;
  font-size: 0.9375rem;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 1px;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

button:active {
  opacity: 0.5;
}

/* Adds hover effect only on hover enabled devices - avoid sticky hover effect */
@media (hover: hover) {
  button:hover {
    opacity: 0.5;
  }
}
.terms {
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 21px;
  color: hsl(246deg, 25%, 77%);
  text-align: center;
  padding-inline: 1rem;
}
.terms--red {
  color: hsl(0deg, 100%, 74%);
  font-weight: 700;
}
